label {
  font-weight: 600;
  color: #666;
}

.box8 {
  box-shadow: 0px 0px 5px 1px #999;
  background: white;
  height: 500px;
  width: 800px;
}

.save-btn {
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  margin-top: 25px;
  width: 300px;
}
.mt-3 input[type="text"],
[type="date"] {
  border: 1px solid #ccc;
  border-radius: 6px;

  align-items: center;
  margin-left: 25px;
  width: 300px;
  padding: 15px;
}
.mt-3 label {
  margin-top: 25px;
  margin-left: 20px;
}
.box8 h2 {
  margin-top: 40px;
  margin-bottom: -5px;
}
.link {
  text-align: center;
}

.box8 input {
  height: 35px;
}
.mt-3 input[type="checkbox"] {
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-top: 28px;
  accent-color: blue;
  margin-right: 5px;
}
input[type="checkbox"]:checked {
  background-color: blue;
  border: 1px solid blue;
}
