.dashboardContainer {
  background: white;

  padding: 25px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Searchbar {
  margin-right: 20px;
  border-radius: 5px;
}
