body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("https://images.wallpapersden.com/image/download/firewatch-new-hd-22-art_bWpubm2UmZqaraWkpJRnamtlrWZpaWU.jpg")
    no-repeat;
  background-size: cover;
  background-position: center; */
}
.dashboard-container {
  background: white;

  padding: 25px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Searchbar {
  margin-right: 20px;
  border-radius: 5px;
}
