body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://images.wallpapersden.com/image/download/firewatch-new-hd-22-art_bWpubm2UmZqaraWkpJRnamtlrWZpaWU.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.box8 label {
  font-weight: 600;
  color: #666;
  margin-left: 50px;
}

.box8 {
  box-shadow: 0px 0px 5px 1px #999;
  background: white;
}
.editsurgeriesContainer {
  background: white;
  width: 900px;
  height: 500px;
}
.myBtn {
  padding: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 325px;
  height: 50px;
  margin-top: 25px;
  margin-left: 60px;
}
.mt-3 input[type="text"],
[type="date"] {
  border: 1px solid #ccc;
  border-radius: 6px;

  align-items: center;
  margin-left: 50px;
  width: 300px;
  padding: 15px;
}
/* .mt-3 label {
  margin-top: 25px;
  margin-left: 20px;
} */
.box8 h2 {
  margin-top: 40px;
  margin-bottom: -5px;
}
.link {
  text-align: center;
}

.box8 input {
  height: 35px;
  margin-left: 50px;
}
.mt-3 input[type="checkbox"] {
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-top: 28px;
  accent-color: blue;
  margin-right: 5px;
}
input[type="checkbox"]:checked {
  background-color: blue;
  border: 1px solid blue;
}
.center-me {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  margin-bottom: 20px;
}
.form {
  margin-left: 200px;
}
