.loginContainer {
  background: white;
  padding: 25px;
  width: 330px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.loginContainer h2 {
  margin-bottom: 20px;
}
.loginForm {
  margin-left: 25px;
  margin-right: 25px;
}
.loginContainer input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.loginContainer button {
  width: 100%;
  padding: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginContainer button:hover {
  background: #1d5fd1;
}
