body {
  background: linear-gradient(135deg, #667eea, #764ba2);
}
.loginContainer {
  background: white;
  padding: 25px;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 80px;
}

.loginContainer h2 {
  margin-bottom: 20px;
}
.loginForm {
  margin-left: 25px;
  margin-right: 25px;
}
.loginContainer input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.custom-checkbox {
  margin-right: 5px;
}
.header {
  margin-bottom: 20px;
  text-align: center;
}
.errorMessage {
  color: red;
}
.email,
.password {
  margin-bottom: 10px;
}
.forgotPassword {
  margin-bottom: 15px;
  text-align: right;
}
.loginBtn {
  margin-bottom: 20px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  width: 100%;
}
