label {
  font-weight: 600;
  color: #666;
}
body {
  background: url("https://images.wallpapersden.com/image/download/firewatch-new-hd-22-art_bWpubm2UmZqaraWkpJRnamtlrWZpaWU.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.box8 {
  box-shadow: 0px 0px 5px 1px #999;
  /* background: white; */
  height: 500px;
  width: 600px;
}

.btn.submit-btn {
  padding: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 10px;
  width: 600px;
  flex: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  margin-left: 90px;
}
.mt-3 input {
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  align-items: center;
  margin-left: 25px;
}
.mt-3 label {
  margin-top: 25px;
  margin-left: 20px;
}
.box8 h2 {
  margin-top: 40px;
  margin-bottom: -5px;
}
.link {
  text-align: center;
}
.form-group {
  margin-top: -170px;
  margin-left: 25px;
  margin-bottom: -20px;
}
.box8 input {
  height: 35px;
}
