.box8 {
  box-shadow: 0px 0px 5px 1px black;
  margin-left: 20px;
}
.containerRegistration {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
.submitBtn {
  padding: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 10px;
  width: 70%;
  margin-left: 150px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}
.mt-3 input {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.box8 h2 {
  margin-top: 40px;
  margin-bottom: -5px;
}
.link {
  text-align: center;
}
.divinput {
  margin-left: 40px;
  margin-bottom: 20px;
}
.header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.link {
  margin-bottom: 20px;
}
.errorMessage {
  color: red;
}
